version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    restart: always

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: always
