name: CI/CD Pipeline

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted   

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build Docker Images
        run: |
          docker build -t awaisumarhayatofficial/frontend:latest ./frontend
          docker build -t awaisumarhayatofficial/backend:latest ./backend

      - name: Push Docker Images
        run: |
          docker push awaisumarhayatofficial/frontend:latest
          docker push awaisumarhayatofficial/backend:latest
   
      - name: Set up kubectl for local cluster
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

      - name: Deploy to Cluster
        run: |
          kubectl apply -f frontend-deployment.yaml    
          kubectl apply -f frontend-service.yaml   
          kubectl apply -f backend-deployment.yaml 
          kubectl apply -f backend-service.yaml    
          kubectl apply -f redis-deployment.yaml   
          kubectl apply -f redis-service.yaml
        
