name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

#      - name: Set up Node.js
#        uses: actions/setup-node@v3
#        with:
#         node-version: '20'

#      - name: Install Dependencies & Run Tests
#        run: |
#          cd frontend && npm install && npm test
#          cd ../backend && npm install && npm test

  sonar-scan:
    runs-on: self-hosted
    needs: build-test
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

#      - name: SonarQube Scan
#        uses: sonarsource/sonarcloud-github-action@v2
#        with:
#          projectKey: 'your_project_key'
#          organization: 'your_org'
#          token: ${{ secrets.SONAR_TOKEN }}

  trivy-security-scan:
    runs-on: self-hosted
    needs: build-test
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Images for Scan
        run: |
          docker build -t frontend:scan ./frontend
          docker build -t backend:scan ./backend

      - name: Trivy Scan - Frontend
        run: trivy image frontend:scan

      - name: Trivy Scan - Backend
        run: trivy image backend:scan
  
  docker-build-image:
      runs-on: self-hosted
      needs: [build-test, trivy-security-scan]
      steps:
      - name: Build Docker Images
        run: |
          docker build -t awaisumarhayatofficial/frontend:latest ./frontend
          docker build -t awaisumarhayatofficial/backend:latest ./backend

  docker-push-image:
    runs-on: self-hosted
    needs: [build-test, trivy-security-scan]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Images
        run: |
          docker push awaisumarhayatofficial/frontend:latest
          docker push awaisumarhayatofficial/backend:latest

  deploy:
    runs-on: self-hosted
    needs: docker-push-image
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up kubectl
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f frontend-deployment.yaml    
          kubectl apply -f frontend-service.yaml   
          kubectl apply -f backend-deployment.yaml 
          kubectl apply -f backend-service.yaml    
          kubectl apply -f redis-deployment.yaml   
          kubectl apply -f redis-service.yaml

